.Header {
  background-color: #212121;
  display: flex;
  flex-direction: column;
}

.Header-logo {
  width: 50px;
}

.Header-hero {
  display: flex;
  flex: 1;
  align-self: stretch;
  justify-content: center;
  align-content: center;
}

.Header-hero h1 {
  display: inline-block;
  align-self: center;
  max-width: 60%;
  font-size: 50px;
  color: #fff;
  text-align: center;
}